.Cell {
	height: 100px;
	width: 100px;
	background-color: rgb(68, 68, 68);
	border: solid black 1px;
	border-radius: 5px;
	cursor: pointer;
}

.Cell:hover {
	background-color: rgb(253, 253, 132);
}

.Cell-lit {
	background-color: white;
}
